/* Reset default styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Business card styles */
.business-card {
    width: 95%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content vertically */
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo styles */
.logo-container {
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

/* Info styles */
.info {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.job-title {
    font-size: 35px;
    color: #666666;
    margin-bottom: 18px;
}

.company {
    font-size: 35px;
    color: #666666;
    margin-bottom: 18px;
}

/* Contact styles */
.contact {
    margin-top: 20px;
    border-collapse: collapse;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: start; /* Adjust alignment */
    height: 120px; /* Increased height */
    margin-bottom: 18px;
    margin-left: 20px;
    border-top: 1px solid #ddd;
    padding-top: 90px;
    padding-bottom: 90px;
    cursor: pointer; /* Add cursor pointer */
}

.contact-item:hover {
    background-color: #f9f9f9; /* Add hover effect */
}

.contact-item span {
    display: flex;
    align-items: center;
}

.contact-item span img {
    width: 80px;
    height: 80px;
}

.contact-item h3 {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
}

.contact-item p {
    margin: 0;
    font-size: 36px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
}

.contact-item a {
    text-decoration: none;
    color: #007bff;
}

div.contact-item div {
    padding-left: 20px;
}

/* Button styles */
.iphone-button {
    display: inline-block;
    padding: 20px 36px;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.iphone-button:hover {
    background-color: #0056b3;
}
