.container {
  width: 95%;
  max-width: 850px;
  min-height: 75vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 34px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 375px) {
  .container {
      max-width: 100%;
      padding: 10px;
  }

  h1 {
      font-size: 20px;
      margin-bottom: 16px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  textarea {
      font-size: 16px;
  }

  button {
      font-size: 22px;
      padding: 20px;
  }
}
